* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background: linear-gradient(45deg, #969cb0, #b8babb) no-repeat;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    font-weight: 300;
}

h1 {
    text-align: center;
}

.table-container {
    margin: 0 auto;
    max-width: 1600px;
}

.table {
    display: grid;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.table__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
}

.table__cell-content,
.table__column-name {
    /*display: flex;*/
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10%;
    word-break: break-word;
    font-size: 1.1em;
}

.table__head {
    background-color: #94949491;
    font-weight: 500;
}

.table__body {
    background-color: #ffffff17;
}

@media screen and (min-width: 420px) {
    .table__body .table__row:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .table__cell-content:hover:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
    }
}

@media (max-width: 420px) {
    .table__row {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .table__column-name {
        display: none;
    }
}

