* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

input {
    outline: none;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.matches-info {
    color: #9fa3b1;
}

.content-container {
    margin: 0 auto;
    max-width: 1600px;
}

.table {
    display: grid;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.table__head {
    background-color: #94949491;
    font-weight: 700;
}

.table__body {
    background-color: #00000021;
}

.table__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    transition: all .4s ease;
}

.table__row.chosen {
    transition: all .4s ease;
    background: #ed1941;
}

.table__row.highlighted {
    animation: highlight 1s ease;
}

.table__cell-content,
.table__column-name {
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10%;
    word-break: break-word;
    font-size: 1.2em;
}

.table__cell-content .cell-heading {
    display: none;
}

.table__cell-content .cell-decoration {
    background: linear-gradient(to right, #ed1941, #ed1941 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    transition: all 0.3s ease-in-out;
}

.table__cell-content .cell-decoration:before{
    content: '';
    background: #ed1941;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.table__cell-content:hover .cell-decoration {
    background-position: 0;
    -webkit-text-fill-color: transparent;
}

.table__cell-content:hover .cell-decoration:before{
    width: 100%;
}

@keyframes highlight {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: -1px 0px 17px 3px rgb(8 3 3 / 43%);
    }
    100% {
        box-shadow: none;
    }
}
